{{ 'section-product-description.css' | asset_url | stylesheet_tag }}

<style>
    .heading {
        display: flex;
        justify-content: center;
    }

    .align-left {
        justify-content: flex-start; 
    }

    .align-center {
        justify-content: center; 
    }

    .align-right {
        justify-content: flex-end; 
    }

    .row-reverse {
        flex-direction: row-reverse;
    }

</style>

<div class="main-product-container">
    <div class="product-description-content">

        <div class="header-content 
                {% if section.settings.header_alignment == 'left' %} align-left 
                {% elsif section.settings.header_alignment == 'center' %} align-center 
                {% elsif section.settings.header_alignment == 'right' %} align-right 
                {% endif %}
            ">
            <h1 class="heading">
                {{ section.settings.headline | default: "Product Description" }}
            </h1>
        </div>

        <div class="flex-wrapper 
            {% if section.settings.content_reverse %} row-reverse
            {% endif %}
        ">

            <div class="product-description-left-content">
                <p>{{ section.settings.text-details | default: "Please enter the details!" }}</p>
            </div>

            <div class="product-description-right-content">
                <img src="https://imgs.search.brave.com/vVNYuWjiBnNgFO5kXjeK9k-7i-da6iMJjxXOeNW1frs/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NzEwVllNUlRrMUwu/anBn" alt="Cat shirt" height="300px" width="300px"/>
            </div>

        </div>

        {%- if section.settings.button_detail != "" -%}
            <div class="btn-product-description">
                <a href="{{ section.settings.button_link }}">
                    <button type='submit'>
                        {{  section.settings.button_detail  }}
                    </button>
                </a>
            </div>
        {%- endif -%}

    </div>
</div>

{% schema %} 
{
    "name": "Product Description",
    "settings": [
        {
            "type": "text",
            "label": "Product Description Header",
            "id": "headline",
        },
        {
            "type": "select",
            "id": "header_alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center",
            "label": "Header Alignment"
        },
        {
            "type": "textarea",
            "id": "text-details",
            "label": "Product Details",
            "default": "Please enter the description of your product!"
        },
        {
            "type": "checkbox",
            "label": "Reverse content position with text",
            "id": "content_reverse",
            "default": false
        },
        {
            "type": "text",
            "label": "Button text",
            "id": "button_detail"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"   
        },
    ],
    "presets": [
        {
            "name": "Product Description"
        }
    ]
}
{% endschema %}
